    <%= render "devise/shared/error_messages", resource: resource %>
<div class="container bg-gray-200 mx-auto my-20">
  <h2 class="text-center"><%= t('session_page.Sign up')%></h2>

  <div class="flex">
    <%= form_for(resource, as: resource_name, html:{class: "w-1/2"} , url: registration_path(resource_name)) do |f| %>

      <div class="field">
        <%= f.text_field :name, autocomplete: "name" ,placeholder:"Your name", class:"block mx-auto" %>
      </div>

      <div class="field">
        <%= f.email_field :email, autocomplete: "email" ,placeholder:"E-mail", class:"block mx-auto" %>
      </div>

      <div class="field">
        <% if @minimum_password_length %>
          <%= f.password_field :password, autocomplete: "new-password" ,placeholder:"Password (#{@minimum_password_length} characters minimum)", class:"block mx-auto" %>
        <%else%>
          <%= f.password_field :password, autocomplete: "new-password" ,placeholder:"Password", class:"block mx-auto" %>
        <% end %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password" ,placeholder:"Password_confirmation", class:"block mx-auto" %>
      </div>

      <div class="actions text-center">
        <%= f.submit t('session_page.Sign up')%>
      </div>
    <% end %>
    <div class="w-1/2">
      <button href="#" class="block mx-auto"><%= t('session_page.Sing up by Google')%></button>
      <button href="#" class="block mx-auto"><%= t('session_page.Sing up by Github')%></button>
    </div>
  </div>
</div>
