
<%= form_with model: model do |form| %>
  <%= label_tag :title %>
  <%= form.text_field :title %>
  <p>Created by Username</p>
  <div class="flex justify-between">
    <input type="text" placeholder="Search tag" /> <%# ここにタグ検索機能を実装 %>
    <%= form.file_field :image %>
    <div>
      <%= form.submit "save", class: "link link-primary", data: { turbo: false } %>
      <% if controller.action_name == "edit" %>
        <%= link_to "delete", code_path(model), class: "link link-primary", data: { turbo_method: :delete, turbo_confirm: t('message.confirm_delete')} %>
      <% end %>
    </div>
  </div>
  <%= form.text_area :body_html, id: "editorSource_HTML" %>
<% end %>
<div class="flex">
  <div id="editor_HTML" class="flex-1"></div>
  <iframe id="live_frame" class="flex-1 bg-gray-100"></iframe>
</div>
