<%= form_with model: model , data: {controller: "code-title-edit"} do |form| %>
  <div class="flex items-bottom items-baseline">
  <%# // タイトルの編集 %>
    <h2 id="code_title" class="mt-10 text-4xl pr-4"><%= @code.title %></h2>
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 25 25" fill="currentColor" data-action="click->code-title-edit#edit" id="code_title_edit" class="opacity-70 text-black cursor-pointer  hover:opacity-50">
      <g clip-path="url(#clip0_373_2)">
        <path d="M17.474 5.00008L21.3889 8.91501C21.5538 9.07994 21.5538 9.34904 21.3889 9.51397L11.9097 18.9931L7.88194 19.4402C7.34375 19.5009 6.88802 19.0452 6.94878 18.507L7.39583 14.4792L16.875 5.00008C17.0399 4.83515 17.309 4.83515 17.474 5.00008ZM24.5052 4.00616L22.3872 1.8881C21.7274 1.22838 20.6554 1.22838 19.9913 1.8881L18.4549 3.42456C18.2899 3.58949 18.2899 3.85859 18.4549 4.02352L22.3698 7.93845C22.5347 8.10338 22.8038 8.10338 22.9687 7.93845L24.5052 6.40199C25.1649 5.73793 25.1649 4.66588 24.5052 4.00616ZM16.6667 16.415V20.8334H2.77778V6.94453H12.7517C12.8906 6.94453 13.0208 6.8881 13.1207 6.79262L14.8568 5.0565C15.1866 4.72664 14.9523 4.16675 14.4878 4.16675H2.08333C0.93316 4.16675 0 5.09991 0 6.25008V21.5279C0 22.678 0.93316 23.6112 2.08333 23.6112H17.3611C18.5113 23.6112 19.4444 22.678 19.4444 21.5279V14.6789C19.4444 14.2145 18.8845 13.9845 18.5547 14.31L16.8186 16.0461C16.7231 16.1459 16.6667 16.2761 16.6667 16.415Z"/>
      </g>
    </svg>
  </div>
  <%= form.text_field :title , id: "code_title_input" ,class: "hidden mt-10 text-4xl",data: {action: "keydown.enter->code-title-edit#noSubmit"} %>
  <% if controller.action_name != "new" %>
    <p class="pt-1">Created by <span class="underline"><%= "#{@code.user.name} (##{@code.user_id})" %></span></p>
  <% end %>
  <%# // タグの登録 %>
  <div class="flex justify-between pt-7">
    <label class="input input-bordered border-black flex items-center gap-2 h-10 min-h-10">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
        <g clip-path="url(#clip0_88_278)">
          <path d="M0 9.84836V1.875C0 0.839453 0.839453 0 1.875 0H9.84836C10.3456 2.6003e-06 10.8226 0.197548 11.1742 0.54918L19.4508 8.82582C20.183 9.55805 20.183 10.7452 19.4508 11.4775L11.4775 19.4508C10.7452 20.183 9.55805 20.183 8.82582 19.4508L0.54918 11.1742C0.197548 10.8226 2.6003e-06 10.3456 0 9.84836ZM4.375 2.5C3.33945 2.5 2.5 3.33945 2.5 4.375C2.5 5.41055 3.33945 6.25 4.375 6.25C5.41055 6.25 6.25 5.41055 6.25 4.375C6.25 3.33945 5.41055 2.5 4.375 2.5Z" fill="#333333"/>
        </g>
      </svg>
    <input type="text" class="grow" placeholder="Search tag" />
    </label>
    <%# // 画像のアップロード %>
    <%= form.file_field :image %>
    <div class="flex gap-2">
       <%# //保存ボタン %>
      <%= form.button type: "submit", class: "btn h-10 min-h-10 flex btn-neutral hover:opacity-70" do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 23 23" fill="white">
          <path d="M21.751 5.34478L17.6552 1.24897C17.2157 0.809435 16.6195 0.562503 15.9979 0.5625H2.90625C1.61182 0.5625 0.5625 1.61182 0.5625 2.90625V20.0938C0.5625 21.3882 1.61182 22.4375 2.90625 22.4375H20.0938C21.3882 22.4375 22.4375 21.3882 22.4375 20.0938V7.00205C22.4375 6.38045 22.1906 5.78431 21.751 5.34478ZM11.5 19.3125C9.77412 19.3125 8.375 17.9134 8.375 16.1875C8.375 14.4616 9.77412 13.0625 11.5 13.0625C13.2259 13.0625 14.625 14.4616 14.625 16.1875C14.625 17.9134 13.2259 19.3125 11.5 19.3125ZM16.1875 4.44336V9.35156C16.1875 9.67515 15.9251 9.9375 15.6016 9.9375H4.27344C3.94985 9.9375 3.6875 9.67515 3.6875 9.35156V4.27344C3.6875 3.94985 3.94985 3.6875 4.27344 3.6875H15.4316C15.5871 3.6875 15.7361 3.74922 15.8459 3.85913L16.0159 4.02905C16.0703 4.08345 16.1135 4.14804 16.1429 4.21913C16.1724 4.29022 16.1875 4.36641 16.1875 4.44336Z"/>
        </svg>
        <p class="text-lg">Save</p>
      <% end %>
      <% unless action_name == "new" %>
        <% if @favorite == nil %>
          <%# // お気に入りボタン %>
          <%= link_to code_favorite_path(model), class:"btn h-10 min-h-10 flex bg-gray-200 px-3", data: { turbo_method: :post} do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 25 25" fill="#333333">
            <g clip-path="url(#clip0_88_301)">
              <path d="M22.5738 3.49576C19.8981 1.21549 15.9186 1.62564 13.4625 4.15982L12.5006 5.15104L11.5387 4.15982C9.08751 1.62564 5.10314 1.21549 2.42736 3.49576C-0.639049 6.11295 -0.800182 10.8102 1.94396 13.6471L11.3922 23.403C12.0026 24.0329 12.9938 24.0329 13.6041 23.403L23.0524 13.6471C25.8014 10.8102 25.6402 6.11295 22.5738 3.49576Z"/>
            </g>
          </svg>
          <% end %>
        <% else %>
          <%# // お気に入り削除ボタン %>
          <%= link_to code_favorite_path(model), class:"btn h-10 min-h-10 flex bg-gray-200 px-3", data: { turbo_method: :delete} do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 25 25" fill="#F4858A">
            <g clip-path="url(#clip0_88_301)">
              <path d="M22.5738 3.49576C19.8981 1.21549 15.9186 1.62564 13.4625 4.15982L12.5006 5.15104L11.5387 4.15982C9.08751 1.62564 5.10314 1.21549 2.42736 3.49576C-0.639049 6.11295 -0.800182 10.8102 1.94396 13.6471L11.3922 23.403C12.0026 24.0329 12.9938 24.0329 13.6041 23.403L23.0524 13.6471C25.8014 10.8102 25.6402 6.11295 22.5738 3.49576Z"/>
            </g>
          </svg>
          <% end %>
        <% end %>
      <% end %>
      <%# // プライベートボタン %>
      <div class="tooltip" data-tip="Public/Private">
        <label class="btn h-10 min-h-10 flex bg-gray-200 px-3 rounded-lg items-center cursor-pointer"}>
        <%= form.check_box :is_public, class: "hidden toggle toggle-error toggle-sm", id: "private-checkBox",checked: private_check(@code), data:{ action: "click->code-title-edit#public"} %>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 25 17" fill="#333333" id="public_icon" class="">
            <path d="M24.8489 7.8664C22.4952 3.27395 17.8355 0.166748 12.5 0.166748C7.16447 0.166748 2.50345 3.27612 0.151018 7.86683C0.0517306 8.06324 0 8.28023 0 8.5003C0 8.72037 0.0517306 8.93736 0.151018 9.13376C2.50475 13.7262 7.16447 16.8334 12.5 16.8334C17.8355 16.8334 22.4965 13.724 24.8489 9.13333C24.9482 8.93693 25 8.71994 25 8.49986C25 8.27979 24.9482 8.0628 24.8489 7.8664ZM12.5 14.7501C11.2638 14.7501 10.0555 14.3835 9.02766 13.6968C7.99985 13.01 7.19878 12.0339 6.72573 10.8919C6.25268 9.74981 6.12891 8.49315 6.37007 7.28077C6.61123 6.06839 7.20648 4.95474 8.08056 4.08066C8.95464 3.20659 10.0683 2.61133 11.2807 2.37017C12.493 2.12902 13.7497 2.25279 14.8917 2.72583C16.0338 3.19888 17.0099 3.99996 17.6967 5.02777C18.3834 6.05557 18.75 7.26395 18.75 8.50008C18.7504 9.32096 18.589 10.1339 18.275 10.8923C17.9611 11.6508 17.5007 12.3399 16.9203 12.9204C16.3398 13.5008 15.6507 13.9612 14.8922 14.2751C14.1338 14.5891 13.3208 14.7505 12.5 14.7501ZM12.5 4.33341C12.1281 4.33861 11.7586 4.39394 11.4015 4.49791C11.6958 4.89794 11.8371 5.39022 11.7996 5.88547C11.7621 6.38072 11.5484 6.84615 11.1972 7.19735C10.846 7.54854 10.3806 7.76225 9.88537 7.79972C9.39012 7.83718 8.89784 7.69592 8.49781 7.40156C8.27001 8.24079 8.31113 9.13032 8.61538 9.94496C8.91962 10.7596 9.47167 11.4583 10.1938 11.9428C10.916 12.4272 11.7719 12.673 12.641 12.6456C13.5102 12.6181 14.3489 12.3188 15.039 11.7897C15.7291 11.2606 16.236 10.5285 16.4882 9.69626C16.7404 8.86404 16.7253 7.97368 16.445 7.1505C16.1647 6.32732 15.6333 5.61277 14.9256 5.10742C14.2179 4.60207 13.3696 4.33137 12.5 4.33341Z"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 25 21" fill="#333333" id="private_icon" class="">
            <path d="M12.4999 16.1251C9.53702 16.1251 7.13859 13.8317 6.91788 10.9255L2.82023 7.7587C2.28156 8.43448 1.78585 9.14893 1.38585 9.93018C1.29649 10.1069 1.24994 10.3022 1.24994 10.5003C1.24994 10.6984 1.29649 10.8937 1.38585 11.0704C3.50421 15.2036 7.69796 18.0001 12.4999 18.0001C13.5511 18.0001 14.5652 17.8439 15.5425 17.5915L13.5155 16.0231C13.1808 16.0878 12.8408 16.1219 12.4999 16.1251ZM24.7585 18.3946L20.4402 15.0571C21.7519 13.9516 22.8308 12.5963 23.614 11.07C23.7033 10.8933 23.7499 10.698 23.7499 10.4999C23.7499 10.3018 23.7033 10.1066 23.614 9.92979C21.4956 5.79659 17.3019 3.0001 12.4999 3.0001C10.4888 3.00254 8.51031 3.50884 6.74523 4.47276L1.7757 0.631743C1.71089 0.581316 1.63679 0.544153 1.55762 0.522378C1.47844 0.500602 1.39576 0.494641 1.31428 0.504835C1.2328 0.515029 1.15413 0.541177 1.08277 0.581787C1.0114 0.622396 0.948736 0.676671 0.898353 0.741509L0.131556 1.72862C0.0298368 1.85947 -0.015743 2.02537 0.00484145 2.18982C0.0254259 2.35428 0.110489 2.50383 0.241322 2.60557L23.2241 20.3685C23.2889 20.4189 23.363 20.4561 23.4422 20.4778C23.5214 20.4996 23.6041 20.5056 23.6856 20.4954C23.767 20.4852 23.8457 20.459 23.9171 20.4184C23.9884 20.3778 24.0511 20.3235 24.1015 20.2587L24.8687 19.2716C24.9703 19.1407 25.0159 18.9748 24.9952 18.8103C24.9745 18.6458 24.8894 18.4963 24.7585 18.3946ZM17.5819 12.8478L16.0468 11.661C16.1761 11.2874 16.2447 10.8954 16.2499 10.5001C16.2575 9.9213 16.1293 9.34877 15.8755 8.82852C15.6217 8.30826 15.2495 7.85477 14.7886 7.50448C14.3278 7.15419 13.7912 6.91687 13.2221 6.81156C12.6529 6.70626 12.0669 6.73591 11.5112 6.89815C11.7468 7.21733 11.8742 7.60342 11.8749 8.0001C11.8691 8.13211 11.8489 8.26309 11.8148 8.39073L8.93937 6.16846C9.93819 5.33378 11.1982 4.87606 12.4999 4.8751C13.2387 4.87469 13.9704 5.01991 14.653 5.30244C15.3356 5.58498 15.9559 5.9993 16.4783 6.52171C17.0007 7.04412 17.415 7.66438 17.6976 8.34702C17.9801 9.02966 18.1253 9.7613 18.1249 10.5001C18.1249 11.345 17.9183 12.1325 17.5819 12.8481V12.8478Z"/>
          </svg>
        </label>
      </div>
      <% if controller.action_name == "edit" %>
        <%# // 削除ボタン %>
        <%= link_to code_path(model), class: "btn btn-error h-10 min-h-10 hover:opacity-70 px-3", data: { turbo_method: :delete, turbo_confirm: t('message.confirm_delete')} do%>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 25 25" fill="#333333">
            <g clip-path="url(#clip0_88_305)">
              <path d="M22.6562 1.56251H16.7969L16.3379 0.649423C16.2407 0.454215 16.0909 0.29001 15.9054 0.175281C15.72 0.0605526 15.5062 -0.00014785 15.2881 8.5609e-06H9.70703C9.48944 -0.000827891 9.27602 0.0596463 9.09121 0.174503C8.90641 0.289359 8.75769 0.453951 8.66211 0.649423L8.20312 1.56251H2.34375C2.13655 1.56251 1.93784 1.64482 1.79132 1.79133C1.64481 1.93784 1.5625 2.13656 1.5625 2.34376L1.5625 3.90626C1.5625 4.11346 1.64481 4.31217 1.79132 4.45869C1.93784 4.6052 2.13655 4.68751 2.34375 4.68751H22.6562C22.8635 4.68751 23.0622 4.6052 23.2087 4.45869C23.3552 4.31217 23.4375 4.11346 23.4375 3.90626V2.34376C23.4375 2.13656 23.3552 1.93784 23.2087 1.79133C23.0622 1.64482 22.8635 1.56251 22.6562 1.56251ZM4.16016 22.8027C4.19742 23.3978 4.46004 23.9562 4.89456 24.3644C5.32908 24.7727 5.90283 24.9999 6.49902 25H18.501C19.0972 24.9999 19.6709 24.7727 20.1054 24.3644C20.54 23.9562 20.8026 23.3978 20.8398 22.8027L21.875 6.25001H3.125L4.16016 22.8027Z"/>
            </g>
          </svg>
        <% end %>
      <% end %>
    </div>
  </div>
  <%# // HTMLエディタ %>
  <div>
    <%= form.text_area :body_html, id: "editorSource_HTML" %>
  </div>
<% end %>
