<div class="container py-20 mx-auto sp:py-10">
  <div class="bg-backgroundGray rounded-xl shadow_custom max-w-4xl mx-auto sp:mx-5">
    <h2 class="text-center text-3xl pt-7 font-bold"><%= t('session_page.Login')%></h2>
    <div class="flex pt-16 pb-10 justify-center sp:pt-10 sp:flex-col">
      <%= form_for(resource, as: resource_name, html:{class: "w-1/2 sp:w-auto"}, url: session_path(resource_name)) do |f| %>
      <%# <%= form_for(resource, as: resource_name, html:{class: "w-1/2"}, url: session_path(resource_name)) do |f| %>
        <div class="max-w-64 mx-auto">
        <label class="input inline-flex items-center h-10 bg-inherit text-customGray rounded-none border-b-2 border-t-0 border-l-0 border-r-0 border-customGray">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            fill="currentColor"
            class="h-5 w-5 opacity-70 text-black">
            <path
              d="M2.5 3A1.5 1.5 0 0 0 1 4.5v.793c.026.009.051.02.076.032L7.674 8.51c.206.1.446.1.652 0l6.598-3.185A.755.755 0 0 1 15 5.293V4.5A1.5 1.5 0 0 0 13.5 3h-11Z" />
            <path
              d="M15 6.954 8.978 9.86a2.25 2.25 0 0 1-1.956 0L1 6.954V11.5A1.5 1.5 0 0 0 2.5 13h11a1.5 1.5 0 0 0 1.5-1.5V6.954Z" />
          </svg>
          <%= f.email_field :email, autocomplete: "email", class:"block mx-auto placeholder-customGray pl-2", placeholder:"E-mail" %>
        </label>

        <label class="input inline-flex items-center h-10 bg-inherit text-customGray rounded-none border-b-2 border-t-0 border-l-0 border-r-0 border-customGray mt-5">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            fill="currentColor"
            class="h-5 w-5 opacity-70 text-black">
            <path
              fill-rule="evenodd"
              d="M14 6a4 4 0 0 1-4.899 3.899l-1.955 1.955a.5.5 0 0 1-.353.146H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2.293a.5.5 0 0 1 .146-.353l3.955-3.955A4 4 0 1 1 14 6Zm-4-2a.75.75 0 0 0 0 1.5.5.5 0 0 1 .5.5.75.75 0 0 0 1.5 0 2 2 0 0 0-2-2Z"
              clip-rule="evenodd" />
          </svg>
          <%= f.password_field :password, autocomplete: "current-password", class:"block mx-auto placeholder-customGray pl-2",placeholder:"Password" %>
        </label>

        <% if devise_mapping.rememberable? %>
          <div class="field block mx-auto text-start  ml-3 mt-2">
            <%= f.check_box :remember_me ,class:"toggle toggle-sm toggle-success align-sub", checked: true %>
            <%= f.label :remember_me, class:"ml-1" %>
          </div>
        <% end %>
        <div class="actions text-center mt-10">
          <%= f.submit t('session_page.Login'), class: "btn btn-success text-white w-64 max-w-full" %>
        </div>
        <div class="text-end my-2">
          <a href="#" class="text-center text-sm hover:opacity-40 transition-all duration-300 linear focus_green">パスワードを忘れた方</a>
        </div>
      </div>
      <% end %>
      <div class="w-1/2 border-l-2 sp:w-auto sp:border-l-0 sp:mt-4 sp:border-t-2 sp:pt-4">
        <%= link_to user_google_oauth2_omniauth_authorize_path, class:"btn leading-normal gsi-material-button block mx-auto !max-w-48", method: :post do %>
          <div class="gsi-material-button-state"></div>
          <div class="gsi-material-button-content-wrapper">
            <div class="gsi-material-button-icon">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: block;">
                <path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path>
                <path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path>
                <path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path>
                <path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path>
                <path fill="none" d="M0 0h48v48H0z"></path>
              </svg>
            </div>
            <span class="gsi-material-button-contents"><%= t('session_page.Sign in with Google') %></span>
            <span style="display: none;"><%= t('session_page.Sign in with Google') %></span>
          </div>
        <% end %>
        <button href="#" class="block mx-auto hidden"><%= t('session_page.Login by Github') %></button>
      </div>
    </div>
  </div>
</div>
